*{
  box-sizing: border-box;
  margin: 0;
}
body{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background-color: lightblue;
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;;
}

 .main-div{
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
 }

 .main-div h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
 }
 .add-items{
  display: flex;
 }

 .main-input{
  flex:1 1 0%;
 padding: 0.5rem;
 margin-right: 0.1rem;
 width: 10rem;
 border: 2px solid #555;
 outline: none;
 transition: 0.5s;
 }

 .addBtn{
  width: 5rem;
  cursor: pointer;
  border: 2px solid black;
  margin: 0 0.5rem 0 0.5rem;
 }
 .delBtn{
  width: 5rem;
  border: 2px solid black;
  cursor: pointer;
 }
 .addBtn:hover{
  background-color: aliceblue;
}
 .delBtn:hover{
  background-color: aliceblue;
}
 .showItems{
  width: 35rem;
  padding: 0.5rem;
  font-size: 1.5rem;
 }

 .eachItem{
  width: 35rem;
  padding: 0.3rem;
  word-wrap: break-word;
  border-radius: 5px;
  border: 1px groove black;
  margin-top: 1rem;
 }

 .checkBtn{
  margin: 0 0.3rem 0 0;
}


 @media screen and (max-width: 700px) {
  *{
    overflow-x: hidden;
  }
  .main-div{
    width: 30rem;
    margin: 1 auto;
  }

  .showItems{
    width: 100%;
    font-size: 1.3rem;
  }
  .add-items{
    width: 100%;
  }
  .main-div h1{
    font-size: 2rem;
  }
  .eachItem{
    width: 25rem;
  }
 }

 
 @media screen and (max-width: 490px){
  .main-div{
    width: 25rem;
    margin: 1 auto;
  }

  .add-items{
    width: 85%;
  }
  .addBtn{
    width: 4rem;
  }
  .delBtn{
    width: 4rem;
  }
  .showItems{
    width: 20rem;
    font-size: 1rem;
  }
  .eachItem{
    width: 18rem;
  }
 }